<section id="formulario">
  <form [formGroup]="formulario">
  <ul>
    <li>
      <label>
        Nombre:
         <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="nombre">
        <div *ngIf="formulario.controls['nombre'].hasError('required')" class="error">Campo obligatorio</div>
        <div *ngIf="formulario.controls['nombre'].hasError('minlength')" class="error">Mínimo 3 letras</div>
        <div *ngIf="formulario.controls['nombre'].hasError('cadenaLimpia')" class="error">No debe haber caracteres especiales ni espacios en blanco al comienzo o al final</div>
      </label>
    </li><li>
      <label>
        Apellidos: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="apellidos">
        <div *ngIf="formulario.controls['apellidos'].hasError('required')" class="error">Campo obligatorio</div>
        <div *ngIf="formulario.controls['apellidos'].hasError('minlength')" class="error">Mínimo 3 letras</div>
        <div *ngIf="formulario.controls['apellidos'].hasError('cadenaLimpia')" class="error">No debe haber caracteres especiales ni espacios en blanco al comienzo o al final</div>
      </label>
    </li><li>
      <label>
        Correo: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="correo">
        <div *ngIf="formulario.controls['correo'].hasError('email')" class="error">Formato incorrecto</div>
      </label>
    </li><li>
      <label>
        Fecha de nacimiento: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="nacimiento">
        <div *ngIf="formulario.controls['nacimiento'].hasError('fechaIncorrecta')" class="error">El formato de fecha correcto es: DD/MM/AAAA</div>
      </label>
    </li><li>
      <label>
        Teléfono: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="telefono">
        <div *ngIf="formulario.controls['telefono'].hasError('noSoloNumeros')" class="error">El teléfono sólo puede contener números</div>
      </label>
    </li><li>
      <label>
        Teléfono (alternativo): <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="telefonoAlt">
        <div *ngIf="formulario.controls['telefonoAlt'].hasError('noSoloNumeros')" class="error">El teléfono sólo puede contener números</div>
      </label>
    </li><li>
      <label>
        Tipo de documento:
        <select formControlName="tipoDocumento">
          <option *ngFor="let documento of tipoDocumentos"
          [value]="documento">{{documento}}</option>
        </select>
      </label>
    </li><li>
      <label>
        numeroDocumento: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="numeroDocumento">
        <div *ngIf="formulario.controls['numeroDocumento'].hasError('pasaporteIncorrecto')" class="error">El formato del pasaporte correcto es: 3 letras, 6 dígitos y 1 letra (opcional)</div>
        <div *ngIf="formulario.controls['numeroDocumento'].hasError('NIFIncorrecto')" class="error">El formato del NIF correcto es: 8 números y 1 letra (No todas las combinaciones son posibles)</div>
        <div *ngIf="formulario.controls['numeroDocumento'].hasError('NIEIncorrecto')" class="error">El formato del NIE correcto es: 1 letra, 7 números y 1 letra (No todas las combinaciones son posibles)</div>
      </label>
    </li><li>
      <label>
        Dirección: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="direccion">
      </label>
    </li><li>
      <label>
        Provincia:
        <select formControlName="provincia">
          <option *ngFor="let nombre of listaProvincias"
          [value]="nombre">{{nombre}}</option>
        </select>
      </label>
    </li><li>
      <label>
        Municipio: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="municipio">
      </label>
    </li><li>
      <label>
        Sobre mí: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="mas">
      </label>
    </li><li>
      <label>
        Otras competencias: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="competencias">
      </label>
    </li><li>
      <label>
        Permiso de conducción: <input [className]="editandoFormulario ? 'editable' : 'noEditable'" type="text" formControlName="conducir">
      </label>
    </li>
    <li>
        <button (click)="editarFormulario()" [disabled]="editandoFormulario">Editar</button>
<!--          <button (click)="guardarCambios()" [disabled]="!editarPersonales || !formulario.valid">Guardar cambios</button>-->
        <button (click)="terminarEdicion()" [disabled]="!formulario.valid || !editandoFormulario">Terminar edidión</button>
        <button routerLink="/profile/alumno" [disabled]="editandoFormulario">Volver atrás</button>
    </li>
      <!--<a routerLink="/forgot-password"> Recuperar contraseña</a>-->
    </ul>
  </form>
</section>
