<form [formGroup]="formulario" (ngSubmit)="submit()">
  <table border=1>
    <caption id="títuloTabla">Idiomas</caption>
    <thead class="encabezado">
        <tr>
          <th>Idioma</th>
          <th>Nivel</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody formArrayName="datos">
    <tr *ngFor="let datos of formulario.get('datos').controls; let i = index;"
       [formGroupName]="i">
<!--        <input type="text" formControlName="empresa" [ngClass]="{'editable': i===this.numElementoEnEdicion && this.editandoIdiomas, 'noEditable': i!==this.numElementoEnEdicion}">-->
<!--        <input type="text" formControlName="nivel" [ngClass]="{'editable': i===this.numElementoEnEdicion && this.editandoIdiomas, 'noEditable': i!==this.numElementoEnEdicion || !this.editandoIdiomas}">-->
        <td>
          <select formControlName="idioma">
           <option *ngFor="let id of nombreIdiomas" [ngValue]="id">{{id}}</option>
         </select></td>


        <td><select formControlName="nivel">
           <option *ngFor="let niv of nivelIdioma" [ngValue]="niv">{{niv}}</option>
         </select></td>

        <td><input type="text" formControlName="fecha" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}"></td>
        <td><button type="button" [disabled]="editandoCampo" (click)="editarCampo(i)">Editar</button>
        <button type="button" [disabled]="editandoCampo" (click)="borrar(this.formulario, i)">Borrar</button>
      <button (click)="terminarEdicion('idiomas')" [disabled]="i!==this.numElementoEnEdicion">Terminar edidión</button></td>
      </tr>
  <button type="button" (click)="anyadirElemento ('idioma','')" [disabled]="editandoCampo">Añadir idioma</button>
  <button routerLink="/profile/alumno">Volver atrás</button>
</table>
</form>
