<table border=1>
  <caption id="títuloTabla">Datos personales</caption>

  <thead class="encabezado">
      <tr *ngFor="let llave of llavesPersonales">
        <th scope="col" *ngFor="let valor of llave">{{valor}}</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let valor of valoresPersonales">
      {{valor}}</td></tr>
  </tbody>
  <tfoot>
    <tr><td>
      <button routerLink="./personales">Editar datos personales</button>
    </td></tr>
  </tfoot>
</table>


<table border=1>
  <caption id="títuloTabla">Formación</caption>
  <thead class="encabezado">
      <tr *ngFor="let llave of llavesFormacion">
        <th scope="col" *ngFor="let valor of llave">{{valor}}</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let valor of valoresFormacion">
      <td *ngFor="let campo of valor">
      {{campo}}</td></tr>
  </tbody>
  <tfoot>
    <tr><td>
      <button routerLink="./formacion">Editar formación</button>
    </td></tr>
  </tfoot>
</table>

<table border=1>
  <caption id="títuloTabla">Experiencia</caption>
  <thead class="encabezado">
      <tr *ngFor="let llave of llavesExperiencia">
        <th scope="col" *ngFor="let valor of llave">{{valor}}</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let valor of valoresExperiencia">
      <td *ngFor="let campo of valor">
      {{campo}}</td></tr>
  </tbody>
  <tfoot>
    <tr><td>
      <button routerLink="./experiencia">Editar experiencia</button>
    </td></tr>
  </tfoot>
</table>

<table border=1>
  <caption id="títuloTabla">Idiomas</caption>
  <thead class="encabezado">
      <tr *ngFor="let llave of llavesIdiomas">
        <th scope="col" *ngFor="let valor of llave">{{valor}}</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let valor of valoresIdiomas">
      <td *ngFor="let campo of valor">
      {{campo}}</td></tr>
  </tbody>
  <tfoot>
    <tr><td>
      <button routerLink="./idiomas">Editar idiomas</button>
    </td></tr>
  </tfoot>
</table>
  
<button routerLink="/dashboard">Volver</button>
