<section id="formulario">
  <form [formGroup]="formDatosGenerales">
  <ul>
    <li>
      <label>
        Nombre:
         <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="nombre">
        <div *ngIf="formDatosGenerales.controls['nombre'].hasError('required')" class="error">Campo obligatorio</div>
        <div *ngIf="formDatosGenerales.controls['nombre'].hasError('minlength')" class="error">Mínimo 3 letras</div>
        <div *ngIf="formDatosGenerales.controls['nombre'].hasError('cadenaLimpia')" class="error">No debe haber caracteres especiales ni espacios en blanco al comienzo o al final</div>
      </label>
    </li><li>
      <label>
        Razón social: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="razon">
        <div *ngIf="formDatosGenerales.controls['razon'].hasError('required')" class="error">Campo obligatorio</div>
        <div *ngIf="formDatosGenerales.controls['razon'].hasError('minlength')" class="error">Mínimo 3 letras</div>
        <div *ngIf="formDatosGenerales.controls['razon'].hasError('cadenaLimpia')" class="error">No debe haber caracteres especiales ni espacios en blanco al comienzo o al final</div>
      </label>
    </li><li>
      <label>
        CIF: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="cif">
      </label>
    </li><li>
      <label>
        Dirección: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="direccion">
      </label>
    </li><li>
      <label>
        Provincia: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="provincia">
<!--        <select formControlName="provincia">
          <option *ngFor="let nombre of listaProvincias"
          [value]="nombre">{{nombre}}</option>
        </select>-->
      </label>
    </li><li>
      <label>
        Municipio: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="municipio">
      </label>
    </li><li>
      <label>
        URL: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="url">
      </label>
    </li><li>
      <label>
        Nombre <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="nombre_contacto">
      </label>
    </li><li>
      <label>
        Apellidos <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="apellidos">
      </label>
    </li><li>
      <label>
        Teléfono: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="telefono">
        <div *ngIf="formDatosGenerales.controls['telefono'].hasError('noSoloNumeros')" class="error">El teléfono sólo puede contener números</div>
      </label>
    </li><li>
      <label>
        Correo: <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="correo">
        <div *ngIf="formDatosGenerales.controls['correo'].hasError('email')" class="error">Formato incorrecto</div>
      </label>
    </li>
    <li>
        <button (click)="guardarCambios()" >Guardar</button>
        <button (click)="editarCampo()" [disabled]="editandoEmpresa">Editar</button>
        <button (click)="terminarEdicion()" [disabled]="!editandoEmpresa">Terminar edidión</button>
        <button routerLink="/dashboard">Configurar</button>

    </li>
      <!--<a routerLink="/forgot-password"> Recuperar contraseña</a>-->
    </ul>
  </form>
</section>
