<section id="formulario">
  <form [formGroup]="formulario">
  <ul>
    <li>
      <label>
        Nombre
      </label>
         <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="nombre">
        <div *ngIf="formulario.controls['nombre'].hasError('required')" class="error">Campo obligatorio</div>
        <div *ngIf="formulario.controls['nombre'].hasError('minlength')" class="error">Mínimo 3 letras</div>
        <div *ngIf="formulario.controls['nombre'].hasError('cadenaSinEspacios')" class="error">No debe haber caracteres especiales ni espacios en blanco al comienzo o al final</div>
    </li><li>
      <label>
        Razón social
      </label>
        <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="razon">
        <div *ngIf="formulario.controls['razon'].hasError('required')" class="error">Campo obligatorio</div>
        <div *ngIf="formulario.controls['razon'].hasError('minlength')" class="error">Mínimo 3 letras</div>
        <div *ngIf="formulario.controls['razon'].hasError('cadenaSinEspacios')" class="error">No debe haber caracteres especiales ni espacios en blanco al comienzo o al final</div>
    </li><li>
      <label>
        CIF
      </label>
        <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="cif">
    </li><li>
      <label>
        Dirección
      </label>
       <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="direccion">
    </li><li>
      <label>
        Provincia
      </label>
        <select formControlName="provincia">
          <option *ngFor="let nombre of listaProvincias"
          [value]="nombre">{{nombre}}</option>
        </select>
    </li><li>
      <label>
        Municipio
      </label>
      <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="municipio">
    </li><li>
      <label>
        URL
      </label>
         <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="url">
    </li><li>
      <label>
        Nombre
       </label>
        <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="nombre_contacto">
      </li><li>
      <label>
        Apellidos
      </label>
      <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="apellidos">
    </li><li>
      <label>
        Teléfono
      </label>
        <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="telefono">
        <div *ngIf="formulario.controls['telefono'].hasError('noSoloNumeros')" class="error">El teléfono sólo puede contener números</div>
    </li><li>
      <label>
        Correo
      </label>
         <input [className]="editandoEmpresa ? 'editable' : 'noEditable'" type="text" formControlName="correo">
        <div *ngIf="formulario.controls['correo'].hasError('email')" class="error">Formato incorrecto</div>
    </li>
    <li>
      <button (click)="editarElemento()" [disabled]="editandoEmpresa">Editar</button>
      <button (click)="deshabilitarFormulario()" [disabled]="!editandoEmpresa || !formulario.valid">Terminar edidión</button>
      <button routerLink="/dashboard">Volver atrás</button>
    </li>
      <!--<a routerLink="/forgot-password"> Recuperar contraseña</a>-->
    </ul>
  </form>
</section>
