<ng-template *ngIf="this._sesion.usuarioSesion().tipo==='alumno'; then alumno; else empresa"></ng-template>

<ng-template #alumno>
  <nav>
    <button (click)="ir('/profile/alumno')" type="button">Mi perfil</button>
    <button (click)="ir('/offers/alumno')" type="button">Ofertas de trabajo</button>
    <!--<a routerLink="/profile/resumen">Mi perfil</a>-->
  </nav>
</ng-template>

<ng-template #empresa>
  <button (click)="ir('/profile/empresa')" type="button">Mi perfil</button>
  <button (click)="ir('/offers/empresa')" type="button">Mis ofertas</button>
  <button (click)="ir('/configuracion')" type="button">Configurar</button>
</ng-template>
