<ng-template *ngIf="this._sesion.usuarioSesion().tipo==='alumno'; then alumno; else empresa"></ng-template>

<ng-template #alumno>
  <nav>
    <button routerLink="/profile/alumno">Mi perfil</button>
    <button routerLink="/offers/alumno">Mis ofertas</button>
  </nav>
</ng-template>

<ng-template #empresa>
  <button routerLink="/profile/empresa">Mi perfil</button>
  <button routerLink="/offers/empresa">Mis ofertas</button>
  <button routerLink="/configuracion">Configurar</button>
</ng-template>
<button (click)="cerrarSesion()" type="button">Cerrar sesión</button>
