<ng-template *ngIf="this.numOferta==-1; then ofertas; else detalleOferta">
</ng-template>

<ng-template #ofertas>
<form [formGroup]="formulario" (ngSubmit)="submit()">
  <div formArrayName="datos">
    <div *ngFor="let datos of formulario.get('datos').controls; let i = index;">
      <div [formGroupName]="i">
        <input type="text" formControlName="idPuesto" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="puesto" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="familia" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="fecha" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="descripcion" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="provincia" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="municipio" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <input type="text" formControlName="titulos" [ngClass]="{'editable': i===this.numElementoEnEdicion, 'noEditable': i!==this.numElementoEnEdicion}">
        <td><button type="button" (click)="editarCampo(i)" [disabled]="editandoCampo">Editar</button>
        <button type="button" (click)="borrarElemento(i)" [disabled]="editandoCampo">Borrar</button>
        <button (click)="terminarEdicion()" [disabled]="i!==this.numElementoEnEdicion">Terminar edición</button>
        <button (click)="gestionarCandidatos(i)" [disabled]="editandoCampo">Gestionar candidatos</button>
      </div>
    </div>
  </div>
  <button type="button" (click)="anyadirElemento ()" [disabled]="editandoCampo">Añadir oferta</button>
  <button routerLink="/dashboard" [disabled]="editandoCampo">Volver atrás</button>
</form>


</ng-template>

<ng-template #detalleOferta>
  <table border=1>
    <caption id="títuloTabla">Oferta de empleo</caption>
    <thead class="encabezado">
      <tr>
        <th *ngFor="let llave of llavesOfertas; let i=index;">{{llave}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let campo of valoresOfertas[this.numOferta]; let i=index;">
        {{campo}}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="this.valoresCandidatos.length>0">
    <table border=1>
      <caption id="títuloTabla">Candidatos inscritos a esta oferta</caption>
      <thead class="encabezado">
        <tr>
          <th *ngFor="let llave of llavesCandidatos; let i=index;">{{llave}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of valoresCandidatos; let i=index;">
          <td *ngFor="let campo of alumno; let j=index;">
          {{campo}}</td>
          <td>
            <button (click)="descartar(i)" type="button">Descartar</button>
            <button (click)="seleccionar(i)" type="button">Seleccionar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="this.valoresCandidatosSeleccionados.length>0">
  <table border=1>
    <caption id="títuloTabla">Candidatos seleccionados para esta oferta</caption>
    <thead class="encabezado">
      <tr>
        <th *ngFor="let llave of llavesCandidatos; let i=index;">{{llave}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of valoresCandidatosSeleccionados; let i=index;">
        <td *ngFor="let campo of alumno; let j=index;">
        {{campo}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="this.valoresCandidatosDescartados.length>0">
  <table border=1>
    <caption id="títuloTabla">Candidatos descartados para esta oferta</caption>
    <thead class="encabezado">
      <tr>
        <th *ngFor="let llave of llavesCandidatos; let i=index;">{{llave}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of valoresCandidatosDescartados; let i=index;">
        <td *ngFor="let campo of alumno; let j=index;">
        {{campo}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--<button routerLink="/offers/empresa" [disabled]="editandoCampo">Volver atrás</button>-->
<button (click)="cancelarCandidatos()">Volver atrás</button>

</ng-template>
