<div fxLayout="column" fxLayoutAlign="space-around center" >

  <div *ngIf="user" id="contenido" class="datos-personales" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayout.gt-md="row">
      <div id="foto-perfil">
          <img
            class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="{{ user.avatar_hash }}"/>
        <p class="text-center pr-5">
          {{ user.name + ' ' + user.surname }}
        </p>
      </div>


      <section id="datos_personales" fxLayout="column" fxLayoutAlign="space-around center">
         <table mat-table [dataSource]="datosPersonales" class="tabla_personales">

            <ng-container matColumnDef="correo">
              <th mat-header-cell *matHeaderCellDef> Correo-e </th>
              <td mat-cell *matCellDef="let usuario" data-label="correo"> {{usuario.correo}} </td>
            </ng-container>

            <ng-container matColumnDef="nacimiento">
              <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
              <td mat-cell *matCellDef="let usuario" data-label="nacimiento"> {{usuario.nacimiento}} </td>
            </ng-container>

            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let usuario" data-label="Teléfono"> {{usuario.telefono}} </td>
            </ng-container>

            <ng-container matColumnDef="NIF">
              <th mat-header-cell *matHeaderCellDef> NIF/NIE </th>
              <td mat-cell *matCellDef="let usuario" data-label="NIF"> {{usuario.NIF}} </td>
            </ng-container>

            <ng-container matColumnDef="conducir">
              <th mat-header-cell *matHeaderCellDef> Permisos de conducir </th>
              <td mat-cell *matCellDef="let usuario" data-label="Permiso de conducir"> {{usuario.conducir}} </td>
            </ng-container>

            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef> Dirección </th>
              <td mat-cell *matCellDef="let usuario" data-label="dirección"> {{usuario.direccion | json}} </td>
            </ng-container>

            <ng-container matColumnDef="sobreMi">
              <th mat-header-cell *matHeaderCellDef> Más sobre mí </th>
              <td mat-cell *matCellDef="let usuario" data-label="Sobre mí"> {{usuario.sobreMi}} </td>
            </ng-container>

            <ng-container matColumnDef="competencias">
              <th mat-header-cell *matHeaderCellDef> Otras competencias </th>
              <td mat-cell *matCellDef="let usuario" data-label="Otras competencias"> {{usuario.competencias}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasPersonales"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasPersonales;"></tr>
          </table>
          <button mat-button color="primary" [routerLink]="['/admin/profile/profile-student/account']">Modificar</button>
        </section>
    </div>
  </div>

  <section id="formacion_academica" fxLayout="column" fxLayoutAlign="space-around center">
    <h2>Formaci&oacute;n acad&eacute;mica</h2>
     <table mat-table [dataSource]="datosFormacion" class="tabla_formacion">

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.level.name}} </td>
        </ng-container>

        <ng-container matColumnDef="nivel">
          <th mat-header-cell *matHeaderCellDef> Nivel </th>
          <td mat-cell *matCellDef="let element"> {{element.grade.name}} </td>
        </ng-container>

        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let element"> {{element.title.name}} </td>
        </ng-container>

        <ng-container matColumnDef="centro">
          <th mat-header-cell *matHeaderCellDef> Centro </th>
          <td mat-cell *matCellDef="let element"> {{element.institution.name}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoría </th>
          <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="certificado">
          <th mat-header-cell *matHeaderCellDef> Certificado </th>
          <td mat-cell *matCellDef="let element"> {{element.certificate ? 'Sí' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="bilingue">
          <th mat-header-cell *matHeaderCellDef> Bilingue </th>
          <td mat-cell *matCellDef="let element"> {{element.bilingue ? 'Sí' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="dual">
          <th mat-header-cell *matHeaderCellDef> Dual </th>
          <td mat-cell *matCellDef="let element"> {{element.dual ?  'Sí' : 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones</th>
          <td mat-cell *matCellDef="let element">

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <button mat-button color="primary" (click)="editarFormacion(element.uid)"><mat-icon>edit</mat-icon></button>
              <button mat-button color="primary" (click)="deleteStudy(element.uid)"><mat-icon>delete</mat-icon></button>
            </section>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasFormacion"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasFormacion;"></tr>
      </table>
      <div>
          <button mat-button color="primary" [routerLink]="['/admin/profile/profile-student/study']">Nueva formación</button>
      </div>
    </section>

    <section id="idiomas" fxLayout="column" fxLayoutAlign="space-around center">
      <h2>Idiomas</h2>
       <table mat-table [dataSource]="datosIdiomas" class="tabla_idiomas">

          <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let idioma"> {{idioma.level.name}} </td>
          </ng-container>

          <ng-container matColumnDef="idioma">
            <th mat-header-cell *matHeaderCellDef> Idioma </th>
            <td mat-cell *matCellDef="let idioma"> {{idioma.name.name}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let idioma"> {{idioma.date}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let idioma">

              <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <button mat-button color="primary" (click)="editarIdioma(idioma.uid)"><mat-icon>edit</mat-icon></button>
                <button mat-button color="primary" (click)="deleteLanguage(idioma.uid)"><mat-icon>delete</mat-icon></button>
              </section>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasIdiomas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasIdiomas;"></tr>
      </table>
      <div>
        <button mat-button color="primary" [routerLink]="['/admin/profile/profile-student/language']">Nuevo idioma</button>
      </div>
    </section>

  <div *ngIf="!user" id="contenido">
    <p>Datos están siendo cargados...</p>
  </div>
</div>
