/* You can add global styles to this file, and also import other style files */
ul {
    padding: 0;
    list-style-type: none;
}
input.noEditable {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}


input.editable {
    border: 1px solid #0d266d;
    outline: none;
    background-color: #B4CCF0;
    font-family: inherit;
    font-size: inherit;
}



.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 25px;
   overflow: hidden;
   width: 180px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 12px;
   height: 25px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 208px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue    { background-color: #B4CCF0  ; }
